extends layout

block content
	h1= title
		form#editUserForm(name="editUser", method="post", action="/updateUser/" + doc._id + "?_method=PUT")
			input#updateUsername(type="text", name="username", placeholder= doc.username)
			input#updateEmail(type="text", name="email", placeholder= doc.email)
			button#updateSubmit(type="submit") update
	a(href="/userlist") cancel