extends layout

block content
	h1= title
	form#formAddUser(name="adduser", method="post", action='/adduser')
		input#inputUserName(type='text', name='username', placeholder='username')
		input#inputEmail(type='text', name='email', placeholder='email')
		button#btnSubmit(type='submit') submit