extends layout

block content
	h1.
		User List
	ul
		each user, i in userlist
			li
				a(href="mailto:#{user.email}")= user.username
				a#editButton(href="/editUser/" + user._id) Edit
				form(method="post" action="/deleteUser/" + user._id + "?_method=DELETE")
					button#deleteButton(type="submit") delete