extends layout

block content
	h1.
		User List
	ul
		each user, i in userlist
			li
				a(href="mailto:#{user.email}")= user.username
				a#editButton(href="/editUser/" + user._id) Edit
				a#deleteButton(href="/deleteUser/" + user._id) Delete